
			<% if (USER) { %>
                <div class="flex gap-2">
                    <span>🙅‍♂️</span>
                    <h2> <%= USER.user_fname %> </h2>
                </div>
                <% } %>



<!-- bg-[url('./Images/1672645089563.jpg')] -->

    <div class="mt-10 w-3/4 mx-auto md:w-full  flex flex-col md:flex-row justify-between md:justify-around  items-center">
        <div class="flex flex-col  flex-wrap">
            <p class="md:text-3xl text-xl">With Zero Latency, Fast, Secure</p>
            <p class="md:text-3xl text-lg">And Relaible Video Conferencing App</p>
            <p class="mt-4 text-sm"></p>
                Share ideas, generate ideas, share moments witih your close ones
            </p>
            <button type = "button" class="mt-8 flex animate-bounce cursor-pointer rounded-3xl g-20 justify-around items-center w-36 border-2 border-black  pt-2 pb-2">
<span ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
</svg></span>
                
 <span>Host Meeting</span>
  </button>       
  </div>  
        <div class="md:w-64 md:h-64 w-100 h-100">
            <img class="w-100 h-100 rounded-lg shadow-2xl" src="./Images/girl.png" alt="" />
        </div>
    </div>
<div class="relative">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600"
             xmlns="http://www.w3.org/2000/svg" 
             ><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                <stop offset="5%" stop-color="#002bdc"></stop><stop offset="95%" stop-color="#32ded4"></stop>
            </linearGradient></defs>
            <path d="M 0,600 C 0,600 0,300 0,300 C 301,255.5 602,211 842,211 C 1082,211 1261,255.5 1440,300 C 1440,300 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" 
    >
        </path></svg>
            <div class="p-10 absolute top-[80%] rounded-3xl bg-white drop-shadow-2x flex justify-around flex-wrap gap-4 ">
                <div><img class = "rounded-3xl max-w-xs"    src="./Images/video calling 3.jpg" alt=""></div>
                <div>
                    <h1 class="text-3xl">Unlimited Session</h1>
                   
                </div>
            </div>
            
        </div>
   
        <div class="mt-40 flex justify-around items-center flex-wrap">
			<div>
				<p class="text-3xl">With Zero Latency, Fast, Secure</p>
				<p class="text-3xl">And Relaible Video Conferencing App</p>
				<p class="mt-4 text-sm"></p>
					Share ideas, generate ideas, share moments witih your close ones
				</p>
           <form action="/host-meeting" method="post">
            <div class="mt-8 flex rounded-3xl g-20 justify-around items-center w-36 border-2 border-black  pt-2 pb-2">
                <span ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                  </svg></span>
                                    <button >Host Meeting</button>             </div>
           </form>
			</div>
			<div>
				<img class="max-w-xs" src="./Images/video calling 4.jpg" alt="" />
			</div>
		</div>


        <footer class="mt-40">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
                .path-0{
                  animation:pathAnim-0 4s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite;
                }
                @keyframes pathAnim-0{
                  0%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 268.5,330 537,360 777,360 C 1017,360 1228.5,330 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  25%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 197.5,291 395,282 635,282 C 875,282 1157.5,291 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  50%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 261,276 522,252 762,252 C 1002,252 1221,276 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  75%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 271,313 542,326 782,326 C 1022,326 1231,313 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  100%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 268.5,330 537,360 777,360 C 1017,360 1228.5,330 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                }</style><defs><linearGradient id="gradient" x1="0%" y1="47%" x2="100%" y2="53%"><stop offset="5%" stop-color="#002bdc"></stop><stop offset="95%" stop-color="#0693e3"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,300 0,300 C 268.5,330 537,360 777,360 C 1017,360 1228.5,330 1440,300 C 1440,300 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>
        </footer>
        

        <script src = "./scripts/login.js" type="module" ></script>

        <script type = "module">
            import Login from "./scripts/login.js"
            const user  = "<% USER %>" 
            // let modalIsShown = false;
            const modalBtn = document.querySelector(".toggleModal");
            const modal = document.querySelector("#authentication-modal");
            const closeBtn = document.querySelector(".close")
        
            const loginBtn = document.querySelector(".login-btn")
            const email = document.querySelector("#email")
            const password = document.querySelector("#password")
        
            loginBtn.addEventListener("click", (e) => {
              e.preventDefault()
              Login(email.value, password.value)            
            })
            modalBtn.addEventListener("click", function () {
              if(!user){
                modal.classList.toggle("hidden")
              return;
              }
              window.location.assign("/host-meeting")
        
            })
            closeBtn.addEventListener("click", function () {
            modal.classList.add("hidden")
            })
        
            
            
        
          </script>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>