<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>

		<title>Home</title>
        <style>
.absolute{
    width: 90%;
top: 90%;
left: 50%;
transform: translateX(-50%);
}   
     </style>
	</head>
	<body class="">
        <header class="p-10 flex gap-4 ">
            <h1 class="text-xl">Guff Suf</h1>
      
        </header>
		<div class="flex justify-around items-center">
			<div>
				<p class="text-3xl">With Zero Latency, Fast, Secure</p>
				<p class="text-3xl">And Relaible Video Conferencing App</p>
				<p class="mt-4 text-sm"></p>
					Share ideas, generate ideas, share moments witih your close ones
				</p>
                <div class="mt-8 flex rounded-3xl g-20 justify-around items-center w-36 border-2 border-black  pt-2 pb-2">
<span ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
  </svg></span>
                    <button>Host Meeting</button>             </div>
			</div>
			<div>
				<img class="max-w-xs" src="./Images/video calling 4.jpg" alt="" />
			</div>
		</div>
        <div class="relative">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600"
             xmlns="http://www.w3.org/2000/svg" 
             ><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                <stop offset="5%" stop-color="#002bdc"></stop><stop offset="95%" stop-color="#32ded4"></stop>
            </linearGradient></defs>
            <path d="M 0,600 C 0,600 0,300 0,300 C 301,255.5 602,211 842,211 C 1082,211 1261,255.5 1440,300 C 1440,300 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" 
    >
        </path></svg>
            <div class="p-10 absolute rounded-3xl bg-white drop-shadow-2x flex justify-around ">
                <div><img class = "rounded-3xl max-w-xs"    src="./Images/video calling 3.jpg" alt=""></div>
                <div>
                    <h1 class="text-3xl">Unlimited Session</h1>
                   
                </div>
            </div>
            
        </div>
        <br>
        <br>
        <br>
        

<br>
<br>
<br>
<br>
<br>
        <div class="mt-40 flex justify-around items-center">
			<div>
				<p class="text-3xl">With Zero Latency, Fast, Secure</p>
				<p class="text-3xl">And Relaible Video Conferencing App</p>
				<p class="mt-4 text-sm"></p>
					Share ideas, generate ideas, share moments witih your close ones
				</p>
           <form action="/host-meeting" method="post">
            <div class="mt-8 flex rounded-3xl g-20 justify-around items-center w-36 border-2 border-black  pt-2 pb-2">
                <span ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                  </svg></span>
                                    <button>Host Meeting</button>             </div>
           </form>
			</div>
			<div>
				<img class="max-w-xs" src="./Images/video calling 4.jpg" alt="" />
			</div>
		</div>


        <footer class="mt-40">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
                .path-0{
                  animation:pathAnim-0 4s;
                  animation-timing-function: linear;
                  animation-iteration-count: infinite;
                }
                @keyframes pathAnim-0{
                  0%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 268.5,330 537,360 777,360 C 1017,360 1228.5,330 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  25%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 197.5,291 395,282 635,282 C 875,282 1157.5,291 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  50%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 261,276 522,252 762,252 C 1002,252 1221,276 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  75%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 271,313 542,326 782,326 C 1022,326 1231,313 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                  100%{
                    d: path("M 0,600 C 0,600 0,300 0,300 C 268.5,330 537,360 777,360 C 1017,360 1228.5,330 1440,300 C 1440,300 1440,600 1440,600 Z");
                  }
                }</style><defs><linearGradient id="gradient" x1="0%" y1="47%" x2="100%" y2="53%"><stop offset="5%" stop-color="#002bdc"></stop><stop offset="95%" stop-color="#0693e3"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,300 0,300 C 268.5,330 537,360 777,360 C 1017,360 1228.5,330 1440,300 C 1440,300 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>
        </footer>
        
<footer class="p-4 bg-white  shadow md:px-6 md:py-8 dark:bg-gray-900">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
            <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-8" alt="Flowbite Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">GuffSuf</span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="#/" class="hover:underline">GuffSuf</a>. All Rights Reserved.
    </span>
</footer>

	</body>
</html>
