* {
	margin: 0;
	padding: 0;
}
body {
	z-index: 1;
}

.sender,
.reciever {
	width: 100%;
	display: flex;
}
.sender {
	justify-content: flex-end;
}
.reciever {
	justify-content: flex-start;
}
.sender-msg,
.reciever-msg {
	font-size: 12px;
	padding: 2px 20px;
	border-radius: 10px 0 10px 0;
	max-width: 200px;

	width: fit-content;
	color: #fff;
}
.reciever-msg {
	background: #8a2387; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#f27121,
		#e94057,
		#8a2387
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#f27121,
		#e94057,
		#8a2387
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sender-msg {
	background: #cc2b5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#753a88,
		#cc2b5e
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#753a88,
		#cc2b5e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: relative;
}
.sender-msg::before {
	content: "😆";
	position: absolute;
	top: -5px;
	left: -20px;
}
.chat-message {
	overflow: scroll;
	height: 550px;
}

.chat-grid {
	flex: 0.25;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
	padding: 5px;
	font-size: 15px;
	color: #fff;
	transition: all 0.4s linear;
	height: 100vh;
}
.chat-message p {
	margin: 2px 0;
	height: auto;
}
.chat-message::-webkit-scrollbar {
	display: none;
}

.chat-grid form {
	display: flex;
	align-items: center;
}

form input,
form button {
	border: none;

	outline: none;
	padding: 4px;
	font-size: 12px;
}
form button {
	background-color: transparent;
	height: 25px;
	width: 100%;
	text-align: center;
	color: #fff;
}
/* .video-grid,
.chat-grid {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.93);
} */

.control-grid .control::after {
	content: "";
	z-index: -1;
	position: absolute;
	left: -10px;
	top: 0;
	border-radius: 0 10px 10px 0px;
	height: 100%;
	animation: show-bar 0.3s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color: hsl(324deg 100% 50%);
	/* transform: translate(40%, -50%); */
	display: none;
	margin: 0 5px;
	width: 60px;
}
@keyframes show-bar {
	0% {
		width: 0%;
	}
	100% {
		width: 60px;
	}
}

.control-grid .control:hover {
	/* background-color: rgba(5, 5, 5, 0.855); */
}
.control-grid .control:hover::after {
	display: block;
}
.video-box {
	height: 350px;
	width: 100%;
}
.pin {
	border-radius: 0;
	border-radius: 10px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.video-controls {
	position: fixed;
	display: flex;
	gap: 1rem;
	z-index: 100;
	max-width: 90%;
	top: 85%;
}

.hide {
	display: none;
}

/* button:has(> .bi-telephone-x) {
	background-color: red;
} */
.bi-telephone-x {
	color: #fff;
}

.meeting-room::-webkit-scrollbar {
	display: none;
}

.participants::-webkit-scrollbar {
	display: none;
}

.participants {
	display: flex;
}
.hide-participants {
	display: none;
	cursor: none;
	flex: 0;
}
.no-cursor {
	cursor: none;
}

.messaging {
	display: block;
}
.dots-bars-4 {
	/* display: none; */
	width: 40px;
	height: 20px;
	--c: radial-gradient(farthest-side, currentColor 93%, #0000);
	background: var(--c) 0 0, var(--c) 50% 0, var(--c) 100% 0;
	background-size: 8px 8px;
	background-repeat: no-repeat;
	position: relative;
	animation: db4-0 1s linear infinite alternate;
}
.dots-bars-4:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 12px;
	background: currentColor;
	left: 0;
	top: 0;
	animation: db4-1 1s linear infinite alternate,
		db4-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}

@keyframes db4-0 {
	0% {
		background-position: 0 100%, 50% 0, 100% 0;
	}
	8%,
	42% {
		background-position: 0 0, 50% 0, 100% 0;
	}
	50% {
		background-position: 0 0, 50% 100%, 100% 0;
	}
	58%,
	92% {
		background-position: 0 0, 50% 0, 100% 0;
	}
	100% {
		background-position: 0 0, 50% 0, 100% 100%;
	}
}

@keyframes db4-1 {
	100% {
		left: calc(100% - 8px);
	}
}

@keyframes db4-2 {
	100% {
		top: -0.1px;
	}
}

.pin-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
	background-image: url("https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=");
	background-repeat: no-repeat;
	/* background-size: 100%; */
	background-position: center;
	z-index: 10;
}

.chat-header {
	border-bottom: 1px solid gray;
	padding: 0 0 10px 0;
	font-weight: 300;
}

.modal {
	position: relative;
	top: 0;
	left: 0;
	z-index: 100;
}
